<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>admin login</h1>

    <form action="/user/login" method="post"></form>
   
    <div>
        <input type="email" id="useremail" placeholder="email" required>
    </div>
  

    <div>
        <input type="password" id="userpassword" placeholder="password" required>
    </div>
    
    <div>
        <input type="Submit" value="login">
    </div>
    <a href="/users/register">IT personnel? signup here</a>
</body>
</html>