<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello </h1>

    <p> Request for your code here  </p>

    <form method="post">
        <input type="submit" value="Reguest for code" formaction="/users/userdashboard" >

    </form>

  

    <table>
        <tr>
            <th>S/N</th>
            <th>Access Key</th>
            <th>Status</th>
            <th>Action</th>
            
        </tr>
        <%
        if(allKeys.length!=0){
        let i=1;
        allKeys.forEach(function(key){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=key.access_key %></td>
            <td><%=key.status %></td>
            
          
            
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>

    


    <a href="/users/logout">logout</a>

    
</body>
</html>